html {
    background-image: url(https://wallpaperaccess.com/full/228514.jpg)
}

h1, h2{
    color: white;
    text-align: center;
}

.container {
    color: white;
}

.main {
    background-color: rgba(4, 4, 53, 0.247);
}

