html {
    background-image: url(https://media.newyorker.com/photos/599340ce12dfbd15203fb09b/4:3/w_2286,h_1714,c_limit/Voyager-Record-Test-2.jpg)
}

h1, h2{
    color: white;
    text-align: center;
}

.container {
    color: white;
}

.main {
    background-color: rgba(4, 4, 53, 0.247);
}

